html {
  background: #efefef;
}
* {
  font-family: "HelveticaNeue-Light", Arial;
  margin: 0px;
  padding: 0px;
}
input,
button {
  outline: none;
}
header {
  z-index: 2;
  top: 0px;
  width: 100%;
  background-color: #efefef;
  height: 64px;
  position: fixed;
  border-bottom: 1px solid #cccccc;
}
header h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
header h1 a.eidt {
  color: red;
  left: 10px;
  font-weight: normal;
  position: fixed;
  text-decoration: none;
}
header h1 a.plus {
  color: red;
  top: 10px;
  right: 10px;
  font-size: 33px;
  font-weight: normal;
  position: fixed;
  text-decoration: none;
}
header h2 {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
header h2 .addtitle {
  top: 10px;
  font-weight: normal;
}
header h2 a.cancel {
  color: red;
  top: 30px;
  right: 10px;
  font-size: 20px;
  font-weight: normal;
  position: fixed;
  text-decoration: none;
}
header h2 .citysearch {
  top: 30px;
  left: 10px;
  padding: 3px 5px 2px 5px;
  font-size: 14px;
  font-weight: normal;
  width: 75%;
  height: 22px;
  background-color: #efefef;
  border: none;
  position: fixed;
}
footer {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 44px;
  border-top: 1px solid #cccccc;
  background: #efefef;
}
footer ul {
  margin-top: 7px;
}
footer ul li {
  display: inline;
  float: left;
  width: 33%;
  text-align: center;
}
footer ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 12px;
}
footer ul li a.active {
  color: red;
}
footer ul li a span {
  font-size: 25px;
  line-height: 0px;
}
ul.worldclock-list {
  margin-top: 64px;
  width: 100%;
  height: auto;
  padding-left: 0px;
  list-style: none;
  z-index: 1;
  padding-bottom: 44px;
}
ul.worldclock-list li {
  position: relative;
  height: 90px;
  border-bottom: 1px solid #cccccc;
  background: white;
}
ul.worldclock-list li p {
  position: absolute;
}
ul.worldclock-list li p.city {
  font-size: 30px;
  left: 10px;
  top: 15px;
  transition: left 0.2s linear;
}
ul.worldclock-list li p.time-details {
  font-size: 16px;
  left: 10px;
  top: 55px;
  transition: left 0.2s linear;
}
ul.worldclock-list li p.city-right {
  font-size: 30px;
  left: 40px;
  top: 15px;
  transition: left 0.2s linear;
}
ul.worldclock-list li p.time-details-right {
  font-size: 16px;
  left: 40px;
  top: 55px;
  transition: left 0.2s linear;
}
ul.worldclock-list li p.time {
  font-size: 25px;
  right: 10px;
  top: 15px;
  opacity: 1;
  transition: visibility 0.3s linear;
}
ul.worldclock-list li p.timeface {
  font-size: 25px;
  right: 10px;
  top: 10px;
  opacity: 1;
  transition: visibility 0.3s linear;
}
ul.worldclock-list li p.time-hide {
  font-size: 25px;
  right: 10px;
  top: 15px;
  opacity: 0;
  transition: opacity 0.3s linear;
}
ul.worldclock-list li p.timeface-hide {
  font-size: 25px;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.3s linear;
}
ul.city-list {
  margin-top: 64px;
  width: 100%;
  height: auto;
  padding-left: 0px;
  list-style: none;
  z-index: 1;
  padding-bottom: 44px;
}
ul.city-list li {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #cccccc;
  background: white;
}
ul.city-list li p {
  position: absolute;
}
ul.city-list li p.city {
  font-size: 18px;
  left: 10px;
  top: 8px;
}
ul.city-list li.index {
  position: relative;
  height: 21px;
  border-bottom: 1px solid #cccccc;
  background-color: #efefef;
}
ul.city-list li.index p.letter {
  position: absolute;
  left: 10px;
  top: 2px;
  font-size: 16px;
  font-weight: bold;
}
.buttons {
  position: relative;
  width: 100%;
  height: 120px;
}
.buttons button {
  top: 20px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: white;
  font-size: 15px;
}
.buttons button:first-child {
  left: 33%;
  margin-left: -40px;
}
.buttons button:last-child {
  left: 66%;
  margin-left: -40px;
}
.buttons button.button-stop,
.buttons button.button-cancel {
  border-color: red;
  color: red;
}
.buttons button.button-start {
  border-color: green;
  color: green;
}
.buttons button.button-pause,
.buttons button.button-lap,
.buttons button.button-reset {
  border-color: black;
  color: black;
}
.buttons button:disabled {
  border-color: gray;
  color: gray;
}
div.counter {
  height: 160px;
  background: white;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
div.counter p {
  position: absolute;
}
div.counter p.lap-time {
  color: #ccc;
  font-size: 18px;
  right: 10px;
  top: 10px;
}
div.counter p.total-time {
  font-family: "HelveticaNeue-UltraLight", Arial;
  font-size: 70px;
  top: 45px;
  left: 0px;
  right: 0px;
  text-align: center;
}
div.stopwatch-content {
  top: 64px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-left: 0px;
  list-style: none;
  z-index: 1;
  background-color: #efefef;
  overflow: hidden;
}
div.stopwatch-content ul.laps {
  border-top: 1px solid #cccccc;
  position: absolute;
  top: 281px;
  bottom: 44px;
  width: 100%;
  overflow-y: scroll;
}
div.stopwatch-content ul.laps li {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #cccccc;
}
div.stopwatch-content ul.laps li p {
  position: absolute;
}
div.stopwatch-content ul.laps li p.lap-label {
  font-size: 18px;
  color: #555;
  left: 10px;
  top: 10px;
}
div.stopwatch-content ul.laps li p.lap-time {
  font-size: 22px;
  right: 20%;
  top: 10px;
}
div.timer-content {
  top: 64px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-left: 0px;
  list-style: none;
  z-index: 1;
  background-color: #efefef;
  overflow: hidden;
}
div.timer-content div.inputs {
  postion: relative;
  height: 160px;
  border-bottom: 1px solid #cccccc;
}
div.timer-content div.inputs input {
  height: 160px;
  background: white;
  position: relative;
  width: 50%;
  float: left;
  border: 0px;
  font-size: 90px;
  text-align: center;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: red;
  top: 30px;
  left: 12px;
  position: relative;
}
#dash {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 14px solid;
  top: 9px;
  left: 3px;
  color: white;
  position: absolute;
}
#worldcity {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
}
.notice {
  text-align: center;
  top: 235px;
  font-size: 18px;
  position: relative;
}
