<footer>
  <ul>
    <li>{{#link-to 'worldclock'}}<span>✈</span><br/> World Clock{{/link-to}}</li>
    <li>{{#link-to 'timer'}}<span>◴</span><br/>Timer{{/link-to}}</li>
    <li>{{#link-to 'stopwatch'}}<span>◷</span><br/>Stopwatch{{/link-to}}</li>
  </ul>
</footer>
